.container-info{
    position:absolute;
    bottom:0;
    right:0;
    z-index: 1;
    padding-bottom: 1rem;
    padding-right: 1rem;
    user-select: none;
}

.card-info{
    text-align: center;
}

.name{
    font-size: 2rem;
    font-weight: bold;
    color: #000000;
    text-shadow: 2px 2px 2cqb rgba(255, 255, 255, 1);
}	

.biography{
    position: relative;
    padding-top: -3rem;    
    font-size: 1rem;
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 2cqb rgb(0, 0, 0);
}
